<div class="row">
    <div class="col">
      <div class=" row content d-flex justify-content-around">
        <div class="col-6 main-header">Notes</div>
        <div class="col-3 text-right">        
        </div>
        <div class="col-3">  
        </div>
      </div>

      <div class="text-area-container">
        <div class=" row content d-flex justify-content-around">
            <div class="col-6"><h2>{{ trackName }} </h2></div>

            <div class="col-6  text-right">
               <span> ID:{{ trackId }} | {{ lastUpdatedDate }}</span>         
            </div>
          </div>
          <hr />
          <textarea  name="" id="" placeholder="Enter your notes here" >{{ trackNote | json }}</textarea>
      </div>
      <app-progress-nav [step]='2'></app-progress-nav>
    </div>
  </div>