<div class="analytical-container">
  <div class="row header m-0">
    <div class="col" style="margin: auto;">
      <span class="header-title">Cross Program Optimization</span>
      <span class="user-role">Analytical</span>
    </div>
    <div class="col" style="margin: auto;">
      <img src="../../assets/images/citi_logo_white.png" class="citi-logo" alt="">
    </div>
  </div>
  <div class="row m-0">
    <div class="col p-0 left-nav">
      <app-left-navigation></app-left-navigation>
    </div>
    <div class="col" style="min-width: calc(100% - 115px)">
      <div class="home">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
