<div class="row">
  <div [ngClass]="isDialogOpen ? 'col-9' : 'col-12'">
    <div class="row">
      <div class="col p-0" style="margin: auto;">
        <span class="title">View Track</span>
      </div>
      <div class="col">
          <a class="link" routerLink="/analytical/tracks" style="float: right;"> Back to List</a>
      </div>
    </div>
    <div class="row section1">
      <div class="col-12 inside-section">
        <div class="row header" style="margin: 0 auto;">
          <div class="col-7">
            <div class="row m-0 details-header">
              {{track.trackName}}
            </div>
            <div class="row m-0 track-desc">
              <div class="detail-descr">ID: {{track.trackId}} | {{track.lastUpdatedDate}}</div>
            </div>
            <div class="row m-0">
              <div class="status" *ngIf="track.trackStatus == 'DRAFT'">
                <i aria-hidden="true" class="fa fa-circle track-draft"></i>
                <span class="track-status">Draft</span>
              </div>
              <div class="status" *ngIf="track.trackStatus == 'INPROGRESS'">
                <i aria-hidden="true" class="fa fa-circle track-inProgress"></i>
                <span class="track-status">In Progress</span>
              </div>
              <div class="status" *ngIf="track.trackStatus == 'APPROVED'">
                <i aria-hidden="true" class="fa fa-circle track-approved"></i>
                <span class="track-status">Approved</span>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="row m-0">
              <div class="col">
                <div class="row m-0">
                  <img src="assets/images/notes.svg" class="icons" alt="notes">
                  <a class="link" (click)="showTrack()" style="float: right;cursor: pointer;"> Notes</a>
                </div>
              </div>
              <div class="col">
                <div class="row m-0">
                  <img src="assets/images/edit.svg" class="icons" alt="edit">
                  <a class="link" style="float: right;"> Edit</a>
                </div>
              </div>
              <div class="col">
                <div class="row m-0">
                  <img src="assets/images/clone.png" class="icons" alt="clone">
                  <a class="link" routerLink="../../cloneTrack/{{track.trackId}}" style="float: right;"> Clone</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row m-0" style="margin-top: 20px !important;margin-bottom: 10px !important;">
          <div class="col-6" style="margin: auto;">
            <div class="row m-0">
              <div style="width: 60%" class="table-header">Scenario Details</div>
              <div class="table-header">Status</div>
            </div>
          </div>
          <div class="col-6">
            <div class="row m-0">
              <div class="col-6" style="padding-left: 0px;">
                <div class="search">
                  <mat-icon class="icon">search</mat-icon>
                  <input type="text" placeholder="Search">
                </div>
              </div>
              <div class="col-6 p-0 filter">
                <div class="row m-0">
                  <div class="text">Filter By:
                  </div>
                  <mat-form-field class="field">
                    <mat-select value="All" [disableOptionCentering]="false" class="select">
                      <mat-option value="All">All</mat-option>
                      <mat-option value="Draft">Draft</mat-option>
                      <mat-option value="In Progress">In Progress</mat-option>
                      <mat-option value="Approved">Approved</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="scenarioDetails">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element" class="main-data" style="width: 30%;"> {{element.scenarioName}}
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <div class="scenarios" *ngIf="element.scenarioStatus == 'DRAFT'">
                  <i aria-hidden="true" class="fa fa-circle i-draft"></i>
                  <span class="status-label">{{element.scenarioStatus}}</span>
                </div>
                <div class="scenarios" *ngIf="element.scenarioStatus == 'INPROGRESS'|| element.scenarioStatus == 'SCHEDULED'">
                  <i aria-hidden="true" class="fa fa-circle i-inProgress"></i>
                  <span class="status-label">{{element.scenarioStatus}}</span>
                </div>
                <div class="scenarios" *ngIf="element.scenarioStatus == 'COMPLETED'">
                  <i aria-hidden="true" class="fa fa-circle i-approved"></i>
                  <span class="status-label">{{element.scenarioStatus}}</span>
                </div>
                <div class="scenarios" *ngIf="element.scenarioStatus == 'INVALIDATED'">
                  <i aria-hidden="true" class="fa fa-circle i-invalidated"></i>
                  <span class="status-label">{{element.scenarioStatus}}</span>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="search">
              <th mat-header-cell *matHeaderCellDef>
              </th>
              <td mat-cell *matCellDef="let element" style="width: 15%;">
                <a class="view-scenario" href="javascript:void(0)" (click)="openViewTrackDailog(element)">View
                  Scenario</a>
              </td>
            </ng-container>

            <ng-container matColumnDef="filter">
              <th mat-header-cell *matHeaderCellDef>
              </th>
              <td mat-cell *matCellDef="let element" style="width: 50px;text-align: center;">
                <button class="dot-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <div class="text-center menu-box">
                    <mat-menu #menu="matMenu">
                      <button class="dropdownStyle" mat-menu-item (click)="invalidateScenario(element.scenarioId)">
                        <span>Invalidate</span>
                      </button>
                    </mat-menu>
                  </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>

    <div class="row footer">
      <button style="margin: auto;" type="button" class="btn primary" routerLink="../../track/scenario/{{track.trackId}}/addScenario">New
        Scenario</button>
    </div>
  </div>
  <div [ngClass]="isDialogOpen ? 'col-3' : 'd-none'">
    <div class="right-widget">
      <div class="row" style="float: right; margin-right: 1px;">
        <button mat-icon-button aria-label="close dialog">
          <img style="width: 16px; height: 16px;" src="./assets/images/close.png" (click)="closeSummary()">
        </button>
      </div>
      <div class="row">
        <div class="col-12 scenarioTitle">Scenario Summary</div>
        <p class="summaryText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non molestie
          mauris. Vestibulum a maximus ex. Aliquam cursus lacus tempus, bibendum lectus a, pharetra magna.
          Quisque aliquam nec nisi ac commodo. Donec in pulvinar lacus. Praesent nec ex est. Phasellus vitae
          ipsum nunc. Ut in mauris sit amet nisl ullamcorper commodo in vitae massa. Suspendisse potenti.
          Vestibulum porttitor augue eget nulla interdum, ut posuere metus commodo.</p>
      </div>
      <div>
        <label class="row scenarioDetails">Details</label>
        <div class="row summaryDetail">
          <div class="col">
            <label>Campaign Id</label>
            <p>A CMP-1 FLEX Loan</p>
          </div>
        </div>
        <div class="row summaryDetail">
          <div class="col">
            <label>Scenario Name</label>
            <p>LOREM IPSUM</p>
          </div>
        </div>
        <div class="row summaryDetail">
          <div class="col">
            <label>Sample Size</label>
            <p>15%</p>
          </div>
        </div>
        <div class="row summaryDetail">
          <div class="col">
            <label>Override Cannibalization</label>
            <p>FLEX vs Balcon</p>
          </div>
        </div>
        <div class="row summaryDetail">
          <div class="col">
            <label>Campaign Budget</label>
            <p>5M</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
