.container {
  background: #002649;
  max-width: 100%;
  margin: 0em;
  margin-right: 0em;

}

.navbar {
  background: #113b6a;
  color: #fff;
}

.navbar h3 {
  font-size: 22px;
}

.form-check-input {
  position: absolute;
  margin-top: 6px;
  margin-left: -1.25rem;
}
.card-title-div{
padding-left:15px;
}

.card-title {

  font-family: Interstate-Light;
  font-size: 42px;
  color: #333333;
  letter-spacing: 0;
  line-height: 50px;
}

.form-check-input {
  padding-right: 25px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-top: 30px;
  margin-bottom: 15px;
  margin-left: .1em;
}

.form-login {
  margin-bottom: 15px;

}

.form-check-label {
  padding-right: 25px;
  padding-left: 15px;
  padding-top: .25em;
  margin-bottom: 15px;
  margin-left: .5em;
}

.btn-primary {
  color: #fff;
  background-color: #113b6a;
  border-color: #113b6a;
}

a {
  color: #000000;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 959px;
  height: 457px;
  margin-left: 12%;
  margin-top: 3%;
  margin-bottom: 10%;
  border-radius: 8px;
}

.header-title {
  font-family: Interstate-Bold;
  font-size: 26px;
  color: #FFFFFF;
  text-align: left;
  line-height: 32px;
  padding-left: 35px;
}

.header{
  background: #002A54;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  height: 77px;
}

.citi-logo {
  width: 49px;
  height: 32px;
  float: right;
  margin-right: 30px;
}