<div class="row">
  <div class="track-name">
    <input type="text" [(ngModel)]="createTrackService.trackName" />
  </div>
  <img src="assets/images/edit.svg" (click)="editTrack = true" class="track-name-edit" alt="edit">
  <div class="track-name-err-msg">{{errorMessages.get("trackName")}}</div>
</div>
<br>

<div class="row m-0">
  <div class="col select-campaign">
    <div class="row m-0">
      <div class="col title">Select Campaign <span
          class="campaign-name-err-msg">{{errorMessages.get("campaignName")}}</span></div>
    </div>
    <div class="row m-0">
      <div class="col-3" *ngFor="let campaign of createTrackService.campaigns">
        <div class="row campaign m-0"
          [ngClass]="{'selected': (createTrackService.$selectedCampaign$|async)?.campaignId == campaign.campaignId}">
          <div class="col">
            <div class="row date m-0">{{campaign.lastUpdatedDate}}</div>
            <div class="row name m-0">{{campaign.campaignName}}</div>
            <div class="row discription m-0">{{campaign.campaignDescription}}</div>
          </div>
        </div>
        <div class="row select m-0"
          [ngStyle]="{'background': (createTrackService.$selectedCampaign$|async)?.campaignId == campaign.campaignId? '#056DAE' : '#D8D8D8'}">
          <div *ngIf="(createTrackService.$selectedCampaign$|async)?.campaignId != campaign.campaignId" class="col text"
            (click)="selectedCampaign(campaign)">
            Select
          </div>
          <div *ngIf="(createTrackService.$selectedCampaign$|async)?.campaignId == campaign.campaignId" class="col text"
            style="color: #ffffff;">
            Selected
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row m-0" *ngIf="!!(createTrackService.$selectedCampaign$|async)">
  <div class="col select-datasets">
    <div class="row m-0">
      <div class="col title">Select Program</div>
    </div>
    <div class="dataset-name-err-msg">{{errorMessages.get("dataset")}}</div>
    <div class="row m-0">
      <div class="col-auto" *ngFor="let program of (createTrackService.$selectedCampaign$|async).programs">
        <div class="row m-0">
          <div class="button"
            [ngClass]="{'primary': programSelected(program, (createTrackService.$selectedCampaign$|async))}">
            {{program.programName}}</div>
        </div>
        <mat-radio-group>
          <div class="row m-0" *ngFor="let dataset of program.datasets">
            <div class="dataset">
              <mat-radio-button class="checkbox" [value]="dataset"
                [checked]="createTrackService.selectedProgramDataset.get(program.programName)?.datasetName == dataset.datasetName"
                (change)="datasetChange($event, dataset, program.programName)">{{dataset.datasetName}}
              </mat-radio-button>
            </div>
          </div>
        </mat-radio-group>
      </div>
    </div>
  </div>
</div>
<app-progress [step]='1' (emitIsNextBtnClicked)="nextBtnClickedEvent()"></app-progress>
