<div *ngIf="!!data">
  <div class="row">
    <div class="title">Track Summary</div>
  </div>
  <div class="row m-0">
    <div class="col-6 p-0">
      <div style="width: 100%;display: block;">
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
          [plugins]="doughnutChartPlugins" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"
          [options]="doughnutChartOptions" [colors]="colors"></canvas>
      </div>
    </div>
    <div class="col">
      <div class="row legend" style="margin-top: 10px">
        <div class="legend-blue"></div>
        <div class="text">Draft</div>
        <div class="number">{{draftCount}}</div>
      </div>
      <div class="row legend">
        <div class="legend-orange"></div>
        <div class="text">In Progress</div>
        <div class="number">{{inProgressCount}}</div>
      </div>
      <div class="row legend">
        <div class="legend-green"></div>
        <div class="text">Approved</div>
        <div class="number">{{approvedCount}}</div>
      </div>
    </div>
  </div>
  <br>
  <mat-divider></mat-divider>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="row m-0">
        <div class="col section-title p-0">My Recent Tracks</div>
        <div class="col-3 section-right p-0">
          <a (click)="toTracks()" style="cursor:pointer">View All</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row" *ngFor="let track of tracks">
    <div class="col-12 track">
      <div class="row m-0">
        <div class="col header p-0" style="margin: auto">{{track.trackName}}</div>
        <div class="col-3 p-0 menu">
          <button class="dot-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
            <mat-icon style="margin-left: 5px">more_vert</mat-icon>
          </button>
          <div class="col-1 text-center">
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="cloneTrack/{{track.trackId}}">
                <span>Clone</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="trackId">
          ID: {{track.trackId}} {{track.lastUpdatedDate}}
        </div>
      </div>
      <div class="row m-0">
        <div class="scenarios">
          {{track.noOfScenarios}} Scenarios
        </div>
      </div>
      <div class="row m-0" style="margin-top: 10px !important">
        <div class="col p-0" *ngIf="track.trackStatus == 'APPROVED'">
          <div class="approved"></div>
          <div class="text">Approved</div>
        </div>
        <div class="col p-0" *ngIf="track.trackStatus == 'DRAFT'">
          <div class="draft"></div>
          <div class="text">Draft</div>
        </div>
        <div class="col p-0" *ngIf="track.trackStatus == 'INPROGRESS'">
          <div class="in-progress"></div>
          <div class="text">In Progress</div>
        </div>
        <div class="col-3 section-right p-0">
          <a (click)="toViewTrack(track)" style="padding-left: 5px; cursor:pointer">View</a>
        </div>
      </div>
      <br>
      <mat-divider></mat-divider>
      <br>
    </div>
  </div>
</div>
