<div class="row">
  <div [ngClass]="isDialogOpen ? 'col-9' : 'col-12'">
    <div class="row">
      <div class="col-6" style="margin: auto;">
        <span class="title">View Track</span>
      </div>
      <div class="col-6 pull-right backlist">
        <a routerLink="/mim/track">Back to List</a>
      </div>
    </div>
    <div class="row section1">
      <div class="col-12 inside-section">
        <div class="row header" style="margin: 0 auto;">
          <div class="col-8 details-header">{{track?.trackName}}</div>
          <div class="col-2 notes">
            
            <a (click)="showTrack($event)"><img src="./assets/images/notes.svg">Notes </a>
          </div>
          <div class="col-2 clone">
            <a routerLink="/mim/clonetrack"><img src="./assets/images/clone.png">Clone Track </a>
            <!-- <a href="[routerLink]=['/viewtrack']"><img src="./assets/images/clone.png">Clone Track </a> -->
          </div>
        </div>
        <div class="track-desc">
          <div class="detail-descr">ID: {{track?.trackId}} | {{track.lastUpdatedDate | date: 'dd/MM/yyyy hh:mm a'}}</div>
          <div class="scenarios"><i aria-hidden="true" class="fa fa-circle i-approved"></i>
            <span class="status-label">{{track?.trackStatus}}</span>
          </div>
        </div>
        <div>
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="scenarioDetails">
              <th mat-header-cell *matHeaderCellDef> Scenario Details </th>
              <td mat-cell *matCellDef="let element" class="main-data"> {{element.scenarioName}}
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element">
                <div class="scenarios"><i aria-hidden="true" class="fa fa-circle i-approved"></i>
                  <span class="status-label">{{element.scenarioStatus}}</span>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="search">
              <th mat-header-cell *matHeaderCellDef>
                <div class="p-0 search">
                  <mat-icon class="icon">search</mat-icon>
                  <input type="text" placeholder="Search" (input)="searchTrackData($event.target.value)">
                </div>
              </th>
              <td mat-cell *matCellDef="let element"> </td>
            </ng-container>

            <ng-container matColumnDef="filter">
              <th mat-header-cell *matHeaderCellDef>
                <div class="p-0 filter" style="max-width: 250px; float: right;">
                  <div class="row m-0">
                    <div class="text" (change)=filterBy($event)>Filter By:
                    </div>
                    <mat-form-field class="field">
                      <mat-select value="All" [disableOptionCentering]="false" class="select">
                        <mat-option value="All">All</mat-option>
                        <mat-option value="Draft">Draft</mat-option>
                        <mat-option value="In Progress">In Progress</mat-option>
                        <mat-option value="Approved">Approved</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="row" style="padding-left: 15px; float: right;">
                  <div class="col-9">
                    <a href="javascript:void(0)" (click)="openViewTrackDailog(element)">View
                      Scenario</a>
                  </div>
                  <div class="col-3" style="float: left;">
                    <img src="./assets/images/more-vertical.svg" width="18px" height="18px" width="18px" height="18px"
                      class="dot-button" mat-icon-button [matMenuTriggerFor]="menu">
                  </div>
                  <div class="text-center menu-box">
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="cloneTracks()">
                        <span>Clone</span>
                      </button>
                      <!-- <button mat-menu-item disabled>
                        <span>Edit</span>
                      </button>
                      <button mat-menu-item>
                        <span>Item 3</span>
                      </button>
                      <button mat-menu-item>
                        <span>Item 4</span>
                      </button> -->
                    </mat-menu>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isDialogOpen" [ngClass]="isDialogOpen ? 'col-3' : 'col-0'">
    <app-scenario-summary [trackData]="track" [selectedTrackScenario]="selectedTrackScenario" (closeViewScenario)="closeViewTrackScenario()"></app-scenario-summary>
  </div>
</div>

<div class="col-6 offset-4 bottom-action">
  <button type="button" class="col-3 offset-3 bottom-action-button create-track btn btn-primary"(click)="executeTracks($event)" >Execute Track</button>
</div>